<%= form_with(model: equipment, local: true) do |form| %>
  <% if equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
        <% equipment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :equipmentcode %>
    <%= form.text_field :equipmentcode %>
  </div>

  <div class="field">
    <%= form.label :dateBuyEquipment %>
    <%= form.date_select :dateBuyEquipment %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :rental %>
    <%= form.check_box :rental %>
  </div>

  <div class="field">
    <%= form.label :maintenance %>
    <%= form.check_box :maintenance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
